
.overlay-container {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    &--1 {
        background-color: #fff;
        z-index: 1;
        width: 500px;
        height: 150px;
        left: calc(50% - 60px);
        top: calc(50% + 50px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &--2 {
        background-color: #3c91e6;
        z-index: 2;
        width: 503px;
        height: 300px;
        left: calc(50% - 60px);
        top: calc(50% + 270px);
    }

    &--3 {
        z-index: 3;
        width: 400px;
        height: 250px;
        left: calc(50% - 150px);
        top: calc(50% + 300px);
        
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--4 {
        background-color: #f1dd7b;
        z-index: 4;
        width: 150px;
        height: 150px;
        left: calc(50% + 265px);
        top: calc(50% + 50px);
    }

    &--5 {
        background-color: #e4572e;
        z-index: 5;
        width: 150px;
        height: 150px;
        left: calc(50% + 245px);
        top: calc(50% + 20px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--6 {
        z-index: 6;
        width: 120px;
        height: 250px;
        left: calc(50% + 200px);
        top: calc(50% + 240px);

        &-img {
            width: 100%; 
            height: 100%;
            object-fit: cover;
        }
    }
}
