// abstracts/_variables.scss
$font-family: "PT Mono", monospace;
$font-weight: 400;
$color-black: black;
$color-grey: #989797;
$color-dark: #454545;
$color-white: #ffffff;

$primary-color: #3c91e6;
$secondary-color: #e4572e;
$text-color: #454545;
$light-bg: #fff;
$overlay-bg: #f1dd7b;

$font-icon: 80px;
$font-large: 70px;
$font-medium: 30px;
$font-small: 18px;
$font-xsmall: 0.75rem;

$padding-large: 50px;
$padding-medium: 20px;
$padding-small: 10px;